.banner-container {
    position: relative;
    width: 100%;
    
}


.background-image {
    background-image: url("https://i.ibb.co/4tZDt7N/page-LIFE-in-theuk-test-training-backround.jpg");
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  

    
   
    
}
.background-overlay {
    background-color: rgba(48, 48, 116, 1);
  
}
.content {
    position: relative;
    z-index: 6;
}

.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1700px;
    height: 650px;
    background-image: linear-gradient(to right, rgba(41, 41, 82, 0.71), rgba(26, 22, 85, 0.9));
}


.triangle {
    position: absolute;
    bottom: 0px;
    left: -120px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 580px 2023px; /* Adjust width, height */
    border-color: transparent transparent rgba(219, 71, 70, 1) transparent; /* Adjust color and transparency */
    z-index: 1; 
}

